# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\MASTER COMPUTER SCIENCE\2A Service Oriented Architectures with web services\Project\soa-colab\group_control\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
