version: '3.7'
services:
  colab_postgres:
    image: postgres:11.6
    container_name: colab_postgres
    volumes:
      - ./docker-postgresql-multiple-databases:/docker-entrypoint-initdb.d
      - postgresdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=root
      - POSTGRES_MULTIPLE_DATABASES=students,projects,meetings
    ports:
      - 5432:5432

volumes:
  postgresdata:
