apiVersion: v1
kind: Service
metadata:
  name: group-service-service
  labels:
    app: group-service
spec:
  type: NodePort //Replace NodePorts with LoadBalancers!
  ports:
  - port: 8080
    name: group-service-service
    targetPort: 8080
    nodePort: 32756
  selector:
    app: group-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: group-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: group-service
  template:
    metadata:
      labels:
        app: group-service
    spec:
      containers:
      - name: group-service
        image: s1871242/group-service
        env:
        - name: POSTGRES_DB_URL
          value: 192.168.1.217:5432/students
        ports:
        - containerPort: 8080